* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #cedf85;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 50px;
  color: #948d8d;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.food-list,
.step {
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  font-weight: bold;
}
