* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #c3c54f;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 50px;
  color: #a57e29;
  text-decoration: underline;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

p {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  border: solid 2px #a57e29;
  padding: 10px;
  border-radius: 10px;
}

.food-list,
.step {
  list-style-type: decimal;
  list-style-position: inside;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
