* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #dfc785;
}

img {
  display: flex;
  float: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 50px;
  color: #948d8d;
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

div.list {
  text-align: center;
}

ul.food-list {
  border: solid 3px #948d8d;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  list-style-position: inside;
  text-align: left;
  font-weight: bold;
  background-color: #caab21;
  transition: 0.5s;
}

.food-list:hover {
  background-color: #5fcf1e;
  cursor: not-allowed;
  border: solid 3px #1ecf8b;
}

.food-list:active {
  background-color: #319e74;
  border: solid 3px #295510;
}

div.step {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  background-color: #caab21;
  border-radius: 20px;
  margin: 20px;
  transition: 0.5s;
}

.step:hover {
  background-color: #5fcf1e;
  cursor: not-allowed;
  border: solid 3px #1ecf8b;
}
