* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #dfc785;
}

img {
  display: flex;
  float: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 50px;
  color: #948d8d;
}

p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.food-list,
.food-step {
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  font-weight: bold;
}
