* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.head {
  text-transform: uppercase;
}

html {
  background-image: linear-gradient(
    to bottom right,
    rgb(180, 187, 51),
    rgb(255, 89, 0)
  );
}

.container {
  display: flex;
}

.clm {
  flex: 1;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border: solid 5px black;
  border-radius: 20px;
  padding: 10px;
}

#step {
  font-size: 30px;
  margin: auto;
  text-decoration-line: underline;
}

.ingredient {
  font-size: 20px;
  font-weight: bold;
  border: solid 5px black;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.repo,
.repa {
  list-style-position: inside;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border: solid 5px black;
}

.repo {
  display: inline-block;
  margin-left: 55px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ingredient:hover {
  background-color: rgb(22, 164, 235);
  color: rgb(0, 0, 0);
}

.ingredient:active {
  background-color: rgb(235, 22, 22);
  color: rgb(0, 0, 0);
}
