* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(205, 212, 182);
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border: solid 5px black;
  border-radius: 20px;
  padding: 10px;
}

#step {
  font-size: 30px;
  margin: auto;
  text-decoration-line: underline;
}

.repo,
.repa {
  list-style-position: inside;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.ingredient {
  list-style-position: inside;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border: solid 5px black;
  display: inline-block;
  margin-left: 55px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ingredient:hover {
  background-color: rgb(22, 164, 235);
  color: rgb(0, 0, 0);
}

.ingredient:active {
  background-color: rgb(235, 22, 22);
  color: rgb(0, 0, 0);
}
